.login-form{
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  text-align: left;
}
.center {
  margin: auto;
}
.tab{
  margin-left: 25px;
  margin-bottom: 5px;
}
.welcome{
  margin-top: 50px;
  text-align: center;
}
.registration{
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 50px;
  margin-bottom: 20px;
  max-width: 500px
}
.hidden { display:none; }